* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "coolvetica";
  src: url('fonts/coolvetica-rg.ttf') format('truetype');
}


.sidenav {
  background: #181818;
  height: 100%;
  width: 135px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-rows: 30vh auto 25vh;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Dimg {
  width: 60px;
  padding: 20px 2.3em 60px 2.3em;
  background: #000;
}


.sidenav .box2 ul li a {
  border-top: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
  font-size: 17px;
}

.sidenav .box2 ul li a {
  padding: 15px;
  color: #888888;
  display: block;
}

.box2 ul li a:hover {
  color: #0cf2cf;
  transition: 0.4s ease-in-out;
}

.box3 ul li {
  display: inline-block;
  padding: 45px 5px;
}

.box3 ul li a {
  color: #888888;
}

.box3 ul li a:hover {
  color: #0cf2cf;
  transition: 0.3s ease-in-out;
}

body {
  background: #1d1d1d;
  letter-spacing: 0.5px;
  display: block;
  box-sizing: border-box;
  font-family: "open Sans", sans-serif;
  text-size-adjust: 100%;
}

#HomePage {
  min-height: 100vh;
  position: absolute;
  display: block;
  box-sizing: border-box;

}

.InnerPage {
  min-height: 100vh;
  position: relative;
  padding-left: 135px;
  display: block;
  font-size: 0px;
}

.resume-button {
  border: 1px solid #08fdd8;
  background-color: transparent;
  color: #08fdd8;
  box-sizing: border-box;
  z-index: 3;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  margin-top: 20px;
  margin-right: 10px;
  transition: color 0.1s;
}

.resume-button:before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #08fdd82b;
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 0.2s ease-out;
}

.resume-button:hover:before {
  transform: scaleX(1);
}

.home {
  display: flex;
  align-items: center;
  padding: 175px 100px 200px 75px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.TextArea h1 {
  color: #fff;
  font-family: coolvetica;
  letter-spacing: 0px;
  font-weight: 550;
  font-size: 103px;
  line-height: 1em;
  position: relative;
  margin-right: -4px;
}

.name span {
  box-sizing: border-box;
  display: inline-block;
}

.TextArea h1 span:hover {
  color: #0cf2cf;
  transition: 0.5s ease-in-out;
}

.name img {
  box-sizing: border-box;
  width: 60px;
  padding: 0;
}

#greyText {
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0px;
  color: #8d8d8d;
  letter-spacing: 2px;
  font-size: 20px;
  position: relative;
}

.scrolldown-right {
  color: #fff;
  position: absolute;
  right: -20px;
  bottom: 4rem;
  transform: rotate(90deg);
  display: block;
  font-size: 14px;
}

.scrolldown-right span {
  display: flex;
  animation: scroll .5s linear infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(-10px);
  }
}
