@font-face {
  font-family: "coolvetica";
  src: url("fonts/coolvetica-rg.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #1d1d1d;
  letter-spacing: 0.5px;
  font-family: "open Sans", sans-serif;
  text-size-adjust: 100%;
}

.HomePage {
  display: flex;
}

.sidenav {
  background: #181818;
  min-height: 100vh;
  width: 160px;
  /* position: fixed; */
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Dimg {
  width: 60px;
  padding-top: 15px;
  height: 75px;
}
.Dimg-font {
  width: 75px;
  padding-bottom: 10px;
}

.sidenav .box1 ul li a {
  border-bottom: 1.5px solid #232323;
  font-size: 17px;
}

.sidenav .box1 ul li a {
  padding: 15px;
  color: #888888;
  display: block;
}

.box1 ul li a:hover {
  color: #0cf2cf;
  transition: 0.4s ease-in-out;
}

.box2 ul li {
  display: inline-flex;
  padding: 2rem 7px;
}

.box2 ul li a {
  color: #888888;
}

.box2 ul li a:hover {
  color: #0cf2cf;
  transition: 0.3s ease-in-out;
}

.InnerPage {
  min-height: 100vh;
  /* position: relative; */
  /* left: 135px; */
  /* this is casuing overflow */
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100vw;
}

.resume-button {
  border: 1px solid #08fdd8;
  background-color: transparent;
  color: #08fdd8;
  box-sizing: border-box;
  z-index: 1;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: color 0.1s;
}

.resume-button:before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #08fdd82b;
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.3s ease-out;
}

.resume-button:hover:before {
  transform: scaleX(1);
}

.home {
  /* display: flex; */
  align-items: center;
  padding: 175px 100px 200px 75px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.TextArea h1 {
  color: #fff;
  font-family: coolvetica;
  letter-spacing: 3px;
  font-weight: 550;
  font-size: 103px;
  line-height: 1em;
  position: relative;
  margin-right: -4px;
}

.name span {
  box-sizing: border-box;
  display: inline-block;
}

.TextArea h1 span:hover {
  color: #0cf2cf;
  transition: 0.4s ease-in-out;
}

.name img {
  box-sizing: border-box;
  width: 60px;
  padding-right: 3px;
}

.greyText {
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0;
  color: #8d8d8d;
  letter-spacing: 2px;
  font-size: 20px;
  position: relative;
}

.scrolldown-right {
  color: #fff;
  position: absolute;
  right: -20px;
  bottom: 3rem;
  transform: rotate(90deg);
  font-size: 14px;
}

.scrolldown-right span {
  display: flex;
  animation: scroll 0.5s linear infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.sidenav .box ul li.hamburgerMenu {
  display: none;
}

@media screen and (max-width: 825px) {
  .HomePage {
    display: flex;
    flex-direction: column;
  }

  .HomePage {
    display: block;
  }

  .InnerPage .resume-button {
    top: 0;
    left: 0.5rem;
    margin-top: 0.5rem;
    right: auto;
  }

  .sidenav {
    float: right;
    /* padding: 1%; */
    width: 3rem;
    height: 3rem;
    min-height: 5vh;
    top: 0;
    right: 0;
  }

  .sidenav .box ul li {
    display: none;
  }

  .sidenav .box ul li.hamburgerMenu {
    top: 0;
    right: 0;
    display: flex;
    padding-right: 2%;
    padding-top: 2%;
  }

  .sidenav.responsive {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }

  .sidenav.responsive .box ul li.hamburgerMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0% 1% 1% 1%;
  }

  .sidenav.responsive .box1 {
    line-height: 250%;
  }

  .sidenav.responsive .box ul {
    position: relative;
    float: inherit;
  }

  .sidenav.responsive .box ul li {
    display: inline;
    float: inside;
  }

  .sidenav.responsive .box li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sidenav.responsive .box2 .fancyfonts {
    display: flex;
    justify-content: center;
  }
}
